<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Sign up</h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.label :name %><br />
          <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
        </div>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autocomplete: "email" %>
        </div>

        <div class="field">
          <%= f.label :postal_code %><br />
          <%= f.text_field :postal_code, autocomplete: "postal code" %>
        </div>

        <div class="field">
          <%= f.label :prefecture_code %><br />
          <%= f.collection_select :prefecture_code, JpPrefecture::Prefecture.all, :code, :name, include_blank: '都道府県' %>
        </div>

        <div class="field">
          <%= f.label :address_city %><br />
          <%= f.text_field :address_city, autocomplete: "address city" %>
        </div>

        <div class="field">
          <%= f.label :address_street %><br />
          <%= f.text_field :address_street, autocomplete: "address street" %>
        </div>

        <div class="field">
          <%= f.label :address_building %><br />
          <%= f.text_field :address_building, autocomplete: "address building" %>
        </div>

        <div class="field">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>

        <%= hidden_field_tag :address, "default" %>

        <div class="actions">
          <%= f.submit "Sign up" %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>

